CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
bin/paREST
bin/pGPSd
bin/pMixAmp
bin/pMux
bin/pSBUS
bin/pBBBlue
bin/pAIOrest
bin/pWingSailor
bin/pGeodesy
bin/uReflector
missions/*/MOOSLog*
missions/*/nohup.out
missions/*/.Last*
