[submodule "src/MOOS-pGPSd"]
	path = src/MOOS-pGPSd
	url = https://github.com/ProjectLadon/MOOS-pGPSd.git
[submodule "src/MOOS-pSBUS"]
	path = src/MOOS-pSBUS
	url = https://github.com/ProjectLadon/MOOS-pSBUS.git
[submodule "src/MOOS-pMux"]
	path = src/MOOS-pMux
	url = https://github.com/ProjectLadon/MOOS-pMux.git
[submodule "src/MOOS-pMixAmp"]
	path = src/MOOS-pMixAmp
	url = https://github.com/ProjectLadon/MOOS-pMixAmp.git
[submodule "src/MOOS-pBBBLue"]
	path = src/MOOS-pBBBLue
	url = https://github.com/ProjectLadon/MOOS-pBBBLue.git
[submodule "src/MOOS-pWingSailor"]
	path = src/MOOS-pWingSailor
	url = https://github.com/logos-electromechanical/MOOS-pWingSailor
[submodule "src/MOOS-pSimSail"]
	path = src/MOOS-pSimSail
	url = https://github.com/ProjectLadon/MOOS-pSimSail.git
[submodule "src/MOOS-pGeodesy"]
	path = src/MOOS-pGeodesy
	url = https://github.com/ProjectLadon/MOOS-pGeodesy.git
[submodule "src/MOOS-uReflector"]
	path = src/MOOS-uReflector
	url = https://github.com/ProjectLadon/MOOS-uReflector.git
[submodule "include/cppcodec"]
	path = include/cppcodec
	url = https://github.com/tplgy/cppcodec.git
[submodule "src/MOOS-pStartLogic"]
	path = src/MOOS-pStartLogic
	url = https://github.com/ProjectLadon/MOOS-pStartLogic.git
[submodule "src/waypoint_tool"]
	path = src/waypoint_tool
	url = https://github.com/ProjectLadon/waypoint_tool.git
[submodule "src/MOOS-pNavEKF"]
	path = src/MOOS-pNavEKF
	url = https://github.com/ProjectLadon/MOOS-pNavEKF.git
