[submodule "src/MOOS-pGPSd"]
	path = src/MOOS-pGPSd
	url = https://github.com/ProjectLadon/MOOS-pGPSd.git
[submodule "src/MOOS-pSBUS"]
	path = src/MOOS-pSBUS
	url = https://github.com/ProjectLadon/MOOS-pSBUS.git
[submodule "src/MOOS-paREST"]
	path = src/MOOS-paREST
	url = https://github.com/ProjectLadon/MOOS-paREST.git
[submodule "src/MOOS-pMux"]
	path = src/MOOS-pMux
	url = https://github.com/ProjectLadon/MOOS-pMux.git
[submodule "src/MOOS-pMixAmp"]
	path = src/MOOS-pMixAmp
	url = https://github.com/ProjectLadon/MOOS-pMixAmp.git
[submodule "src/MOOS-pBBBLue"]
	path = src/MOOS-pBBBLue
	url = https://github.com/ProjectLadon/MOOS-pBBBLue.git
[submodule "src/MOOS-pAIOrest"]
	path = src/MOOS-pAIOrest
	url = https://github.com/ProjectLadon/MOOS-pAIOrest.git
