<launch>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" /> 

    <node   pkg="moos-ros-bridge"
            type="Bridge"
            name="moos_bridge"
            args="$(env BASIC_RC_DIR)/basic_rc_ros_config.xml $(env BASIC_RC_DIR)/basic_rc_headless.moos"
            respawn="true"
            output="log" />

    <node   pkg="rosserial_server"
            type="socket_node"
            respawn="true"
            name="rosserial_server" />

</launch>
